---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
    <main class="m-auto flex flex-col items-center justify-center max-w-5xl min-h-screen text-white px-10 gap-5">
        <h1 class="text-white text-4xl font-bold text-center">Oh!! Are you missing?</h1>
        <div class="w-1/2">
            <img
                class="aspect-auto w-full"
                src="https://media.tenor.com/Kn7iTVaNpYsAAAAM/green-day-smash.gif"
                alt=""
                srcset=""
            />
        </div>
        <a href="/" class="text-red-300 hover:text-red-600 transition-all uppercase text-3xl font-bold text-center">go back</a>
    </main>

</Layout>
