---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import AlbumList from "../components/AlbumList.astro";
---

<Layout title="Welcome to Astro.">
	<main class="m-auto max-w-5xl text-white p-10">
		<Title />
		<AlbumList />
	</main>
</Layout>
