---
import AlbumItem from "./AlbumItem.astro";
import { Albums }  from "../data/albums"
---

<ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-5">
    {
        Albums.map(({ id, title, img }) => {
            return (
                <li>
                    <AlbumItem id={id} title={title} img={img} />
                </li>
            );
        })
    }
</ul>
